ASCONF requires SCTP-AUTH

RFC 5061 requires that the ASCONF chunk is protected by SCTP-AUTH. That is unnecessary strict as source-authenticity is what is required. Thus, we will need to discuss with the WG if we should let Crypto Chunk simply update RFC 5061 Section 4.1.1 text:

> This chunk MUST be sent in an authenticated way by using the mechanism defined in [RFC4895]. 

